@model IEnumerable<Tienda.LogicaNegocio.Entidades.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Context.Session.GetString("token") == null)
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a asp-action="Create" class="btn btn-primary">Registrarse</a>
                <a asp-action="Login" class="btn btn-primary">Iniciar Sesión</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a asp-action="CreateCliente" class="btn btn-primary">Crear Cliente</a>                
            </div>
        </div>
    </div>
}

